@model EventWebApp.Models.Attendee

@{
    ViewData["Title"] = "Osaleja lisamine";
}

<partial name="_Header" />

<div class="content">

    <div class="p-5 add-form-display">
        <div class="form-group row">
            <h2 class="text-primary-50 pl-3 add-event-h">@ViewData["Title"]</h2>
        </div>

        <div class="modal-body">

            <div class="form-group form-inline">
                <label class="col-md-3 form-label">Eraisik</label>
                <input name="attendee-type" type="radio" id="person-radio" class="form-control col-md-1" checked>
            </div>
            <div class="form-group form-inline">
                <label class="col-md-3 form-label">Ettevõte</label>
                <input name="attendee-type" type="radio" id="business-radio" class="form-control col-md-1">
            </div>

            <form class="form-horizontal" form name="createAttendee" id="create-attendee" method="post" asp-action="Create">
                <input asp-for="EventId" value="@ViewData["EventId"]" hidden />
                <input asp-for="IsBusiness" id="is-business" hidden />

                <div class="form-group form-inline">
                    <label id="first-name" class="col-md-3 form-label">Eesnimi</label>
                    <label id="business-name" class="col-md-3 form-label">Juriidiline nimi</label>
                    <input asp-for="Name" class="form-control col-md-9">
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="Name" class="text-danger col validation-msg"></span>
                </div>

                <div id="last-name" class="form-group form-inline">
                    <label class="col-md-3">Perenimi</label>
                    <input asp-for="LastName" class="form-control col-md-9">
                </div>
                <div class="form-group form-inline">
                    <span id="last-name-span" class="text-danger col validation-msg"></span>
                </div>

                <div class="form-group form-inline">
                    <label id="id-code" class="col-md-3">Isikukood</label>
                    <label id="business-code" class="col-md-3">Registrikood</label>
                    <input asp-for="IdCode" class="form-control col-md-9">
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="IdCode" class="text-danger col validation-msg"></span>
                </div>

                <div id="participant-count" class="form-group form-inline">
                    <label class="col-md-3" asp-for="ParticipantCount">Osavõtjate arv</label>
                    <input asp-for="ParticipantCount" class="form-control col-md-9" />
                </div>
                <div class="form-group form-inline">
                    <span id="participant-count-span" class="text-danger col validation-msg"></span>
                </div>

                <div class="form-group form-inline">
                    <label class="col-md-3" asp-for="Payment">Maksmisviis</label>
                    <select class="form-control col-md-9" asp-for="Payment" asp-items="Html.GetEnumSelectList(typeof (Payment))"></select>
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="Payment" class="text-danger col validation-msg"></span>
                </div>

                <div class="form-group form-inline">
                    <label class="col-md-3" asp-for="Details">Lisainfo</label>
                    <textarea asp-for="Details" class="form-control col-md-9"></textarea>
                </div>
                <div class="form-group form-inline">
                    <span id="attendee-details" asp-validation-for="Details" class="text-danger col validation-msg"></span>
                </div>

                <div class="row button-display">
                    <div class="col-">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Tagasi</a>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary" value="Salvesta" />
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>function showHide() {
            var firstName = document.getElementById("first-name");
            var lastName = document.getElementById("last-name");
            var businessName = document.getElementById("business-name");
            var idCode = document.getElementById("id-code");
            var businessCode = document.getElementById("business-code");
            var participantCount = document.getElementById("participant-count");
            var attendeeForm = document.getElementById("create-attendee");

            if (document.getElementById("person-radio").checked) {
                // manipulate CSS
                firstName.style.display = "flex";
                lastName.style.display = "flex";
                businessName.style.display = "none";
                idCode.style.display = "flex";
                businessCode.style.display = "none";
                participantCount.style.display = "none";
                // reset form
                attendeeForm.reset();
                // set value for IsBusiness
                document.getElementById("is-business").checked = false;
                document.getElementById("business-radio").checked = false;

            } else {
                // manipulate CSS
                firstName.style.display = "none";
                lastName.style.display = "none";
                businessName.style.display = "flex";
                idCode.style.display = "none";
                businessCode.style.display = "flex";
                participantCount.style.display = "flex";
                // reset form
                attendeeForm.reset();
                // set value for IsBusiness 
                document.getElementById("is-business").checked = true;
                document.getElementById("person-radio").checked = false;
            }
        }

        function validateParticipant() {
            var x = document.forms["createAttendee"]["ParticipantCount"].value;
            if (x < 1 && document.getElementById("business-radio").checked) {
                $("#participant-count-span").text("Sisesta külastajate arv.");
                return event.preventDefault();
            }
        }

        function validateLastName() {
            var x = document.forms["createAttendee"]["LastName"].value;
            if (x == "" && document.getElementById("person-radio").checked) {
                $("#last-name-span").text("See on kohustuslik väli!");
                return event.preventDefault();
            }
        }

        function maxStringLength() {
            if (document.getElementById("person-radio").checked) {
                stringLength = document.forms["createAttendee"]["Details"].value;
                if (stringLength.length > 1500) {
                    $("#attendee-details").text("Maksimaalne pikkus on 1500 tähemärki.");
                    return event.preventDefault();
                }
            }
        }


        window.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById('business-radio').addEventListener("change", showHide);
            document.getElementById('person-radio').addEventListener("change", showHide);
            document.getElementById('create-attendee').addEventListener("submit", () => {
                ((validateParticipant() & validateLastName() & maxStringLength()) == 1)
            });
        });</script>





}
