@model EventWebApp.Models.Event

@{
    ViewData["Title"] = "Ürituse lisamine";
}


<partial name="_Header" />

<div class="content">

    <div class="p-5 add-form-display">
        <div class="form-group row">
            <h2 class="text-primary-50 pl-3 add-event-h">@ViewData["Title"]</h2>
        </div>

        <div class="modal-body">
            <form class="form-horizontal" method="post" asp-action="Create">
                <div class="form-group form-inline">
                    <label class="col-md-3 form-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control col-md-9">
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="Name" class="text-danger col validation-msg"></span>
                </div>

                <div class="form-group form-inline">
                    <label class="col-md-3" asp-for="StartDate"></label>
                    <input asp-for="StartDate" type="datetime-local" class="form-control col-md-9" value="@DateTime.Now.ToString("MM/dd/yyyy HH:mm")">
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="StartDate" class="text-danger col validation-msg"></span>
                </div>

                <div class="form-group form-inline">
                    <label class="col-md-3" asp-for="Location"></label>
                    <input asp-for="Location" class="form-control col-md-9">
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="Location" class="text-danger col validation-msg"></span>
                </div>

                <div class="form-group form-inline">
                    <label class="col-md-3" asp-for="Details"></label>
                    <textarea asp-for="Details" class="form-control col-md-9"></textarea>
                </div>
                <div class="form-group form-inline">
                    <span asp-validation-for="Details" class="text-danger col validation-msg"></span>
                </div>

                <div class="row button-display">

                    <div class="col-">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Tagasi</a>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary" value="Lisa" />
                    </div>

                </div>

            </form>
        </div>
    </div>


            
       
</div>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />


            <script></script>
        }
    }
