


#participant-count {
    display: none;
}

#business-name {
    display: none;
}

#business-code {
    display: none;
}


html, body {
    background-color: #dde6ec;
    max-width: 1100px;
    margin: auto;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar {
    padding: 0rem 1rem;
}




.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.8rem;
    color: black;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}

.active {
    background-color: rgb(0, 90, 161);
    color: white;
}

.logo {
    margin-right: 100px;
}

.header-1 {
    background-color: rgb(0, 90, 161);
    color: white;
    border-radius: 0;
}

.header-2 {
    border-radius: 0;
    background-image: url("../images/pilt.jpg");
    background-position: inherit;
}

.header-3 {
    height: 82px;
}

.image-col {
    background-image: url("../images/libled.jpg");
}

.header-col {
    background-color: rgb(0, 90, 161);
    color: white;
    text-align: center;
    font-weight: 200;
}

    .header-col h2 {
        padding: 20px;
        padding-left: 3px;
        padding-right: 3px;
        font-weight: 200;
        display: inline-block;
        vertical-align: middle;
    }

.jumbotron {
    margin-bottom: 15px;
}

.content {
    background-color: white;
    margin-bottom: 15px;
    padding: 2rem;
}

.card {
    border-radius: 0;
    display: inline-block;
    padding: 0;
    border: 0;
}

.card-header {
    background-color: rgb(0, 90, 161);
    border-radius: 0;
    color: white;
    text-align: center;
}

.card-body {
    padding: 1rem;
}

.card-header:first-child {
    border-radius: 0;
}

.card-1 {
    margin-right: 7px;
    border-radius: 0;
}

.card-2 {
    margin-left: 7px;
}

main {
    margin-bottom: 15px;
}

.table {
    color: rgb(138, 138, 138);
    font-size: 12px;
}

.index-table-p {
    color: rgb(138, 138, 138);
    font-size: 12px;
    text-align: center;
}

.table td, .table th {
        border: 0;
}

.remove-img {
    width: 12px;
    margin-bottom: 2px;
}

.add-img {
    width: 14px;
    margin-top: -8px;
}

dd {
    line-height: 20px;
    color: white;
    font-weight: 200;
}

footer {
    padding: 30px;
    background-color: rgb(55, 55, 55);
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
}


    footer h2 {
        color: white;
    }

.dd-header {
    font-size: x-large;
    font-weight: 300;
    margin-bottom: 1.3rem;
}

.hide-footer-object {
    visibility: hidden;
}

.row {
    margin: 0;
}

.add-form-display {
    width: 70%;
    margin: auto;
}

.button-display {
    margin-top: 20px;
}

.validation-msg {
    text-align: right;
}

.form-inline label {
    display: block;
}

.add-event-h {
    color: #45a1ff;
}

.delete-obj, .add-obj {
    border: none;
    background: none;
    padding: 0;
}


.event-name-link {
    text-decoration: none;
    color: rgb(138, 138, 138);
    font-weight: 600;
}

.participant-link {
    text-decoration: none;
    font-weight: 700;
    color: rgb(138, 138, 138);
}

input[type=radio] {
    height: 18px;
}

.form-inline label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.event-table {
    font-size: medium;
    color: #343a40;
}

.event-table p {
    color: black;
}

.remove-attendee-event {
    border: none;
    background: none;
    text-decoration: none;
    color: #343a40;
    font-weight: 700;
}

.update-attendee-event {
    text-decoration: none;
    color: #343a40;
    font-weight: 700;
}